/*
 * General typography and color pallet
 */
body{
  font-family: 'Open Sans', helvetica, sans-serif;
  width: 1300px;
}

h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}

 /*
  * Main Layout
  */
.container{
  width: 1300px;
  margin: 0 auto;
}

header{
  position: relative; /* for absolute children */
  background: #FFF url('https://unsplash.it/1200/800') no-repeat;
  background-size: cover;
  height: 523px;
}

header::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
}

/* Position these to bring them above overlay */
header nav, header h1, header h3 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

/* we need to clear the floats! */
nav::after {
  content: "";
  display: table;
  clear: both;
}

.branding {
  float: left;
  margin-top: 6px;
  margin-left: -4px;
}

.branding h2 {
  color: black;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.branding h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.branding h2 > span > span {
  letter-spacing: -0.7px;
}

.branding img,
.branding h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}


.header-links li:first-child {
  position: relative;

}


.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}


.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li i{
  margin-left: 12px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;
  letter-spacing: 9px;
  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

*{
  box-sizing: border-box;
}

p {
  font-size: 14;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 26px;

}


.body-left{
  display: inline-block;
  width: 860px;
  height: 1006px;
  position: relative;
  top: 0px;
  left: 0;
  padding-left: 163px;
  padding-right: 42px;

}

.body-right{
  display: inline-block;
  width: 440px;
  height: 1006px;
  float: right;
  padding-right: 161px;
  padding-top: 83px;
}

.body-body{
  width: 604px;
}

.body-left h1{
  display: inline-block;
  font-size: 56px;
  height: 126px;
  width: 571px;
  letter-spacing: 2px;
  margin-top: 70px;
  padding-bottom: 0px;
  margin-bottom: 13px;
  color: #033550;
}



.body-foot h1{
  text-align: center;
  border-top: 1px solid #C3C3C3;
  font-size: 56px;
  padding-top: 43px;
  color: #033550;
  letter-spacing: 4px;
  margin: 0;
  margin-bottom: 41px;
}

.author-deets{
  display: inline-block;
  font-size: 15px;
  position: relative;
  margin-top: 0;
  vertical-align: middle;
  margin-bottom: 42px;
  margin-left: 3px;
}

.name {
  font-size: 15px;
  margin-left: 8px;
  padding-bottom: 10px;
}

h2, h3{
  color: #006FAE;
  font-weight: lighter;
}
.interject h2{
  font-family: 'Helvetica' , sans-serif;
  font-size: 26px;
  vertical-align: middle;
  height: 56px;
  border-left: 2px solid #E3E3E3;
  padding-top: 17px;
  padding-left: 18px;
  margin-left: 5px;
}

.comment-share{
  display: inline-block;
  position: relative;
  bottom: 0;
  width: 500px;
  height: 35px;
}

.comment{
  color: white;
  background-color: #A2B3BE;
  display: inline-block;
  width: 158px;
  height: 30px;

}

.read {
  color: white;
  display: inline-block;
  height: 30px;
  width: 128px;
  background-color: #A2B3BE;
  margin-left: 10px;
}

.share {
  color: white;
  display: inline-block;
  height: 30px;
  width: 154px;
  background-color: #006FAE;
  margin-left: 10px;
}

.logo-box {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  width: 33px;
  height: 30px;
  background-color: #5D686E;
  text-align: center;
  vertical-align: middle;
}

.logo-box span{
  font: 11px;
  text-align: center;
}

.comment-share i{          /* may need to do indivicually for each icon*/
  max-width: 100%;
  padding-top: 5px;
}

.words{
  font-size: 12px;


}

.author-tag img{
  border-radius: 42px;
  margin-left: 98px;
}

.author-tag-name {
  text-align: center;
  font-size: 16px;
  color: #006FAE;
  margin-top: 13px;
  margin-bottom: -9px;
}

.author-social ul{
  display: inline-block;
  font-size: 12px;
}
.author-social {

}

li{
  display: inline-block;
}



.ad-photo span{
  float: right; /* this COULD be changed? */
  position: relative;
  bottom: 0;
  right: 0;
  color: #B9C6CE;
  font-size: 13px;
}

.ad-photo img{
  margin-top: 40px;

}

.author-name img{
  border-radius: 11px;
}



.body-foot{
  font-size: 0;
}



.foot-body {
  display: inline-block;
  width: 1300px;
  height: 330px;
  padding: 0;
}

.foot-body span{
  display: inline-block;
  font-size: 26px;
  position: relative;
  right: 0;
  bottom: 40px;
  padding-left: 19px;

}

.foot-body section{
  display: inline-block;
  margin: 0;
  height: 330px;
  width: 325px;
  /*background-image: url('https://unsplash.it/325/330');*/
  position: relative;
  float: left;
  color: black; /* for now, to see it */
}


.foot-nav {
  position: relative;
  top: 0;
  height: 97px;
  background-color: #033550;

}

.copyright {
  font-size: 15px;
  display: inline-block;
  position: relative;
  top: 43px;
  color: #A2B3BE;
}

.nav-links {
  font-size: 15px;
  display: inline-block;
  float: right;
  margin-right: 157px;
  padding: 0;
  margin-top: 43px;
  color: #A2B3BE;
}

.nav1 , .nav2 , .nav3 {
  border-right: 1px solid #C3C3C3;
  padding-right: 8px;
}
.nav2 , .nav3 , .nav4 {
  padding-left: 9px;
}


.foot-nav img{
  float: left;
  margin-left: 157px;
  margin-top: 17px;
}

.sidebar {
  padding-top: 51px;
}

.sidebar h3{
  font-size: 16px;
}

.sidebar p{
  font-size: 11px;
}

.last-p {
  margin-bottom: 40px;
}


.foot-ph1{
  /*background-image: url('http://fillmurray.com/325/330');*/
  font-family: 'Oswald';
}

.foot-ph2 {
  /*background-image: url('https://unsplash.it/325/330');*/
  font-family: 'Oswald';
}

.foot-ph3 {
  /*background-image: url('http://placecage.com/c/325/330');*/
  font-family: 'Oswald';
}

.foot-ph4 {
  /*background-image: url('http://baconmockup.com/325/330');*/
  font-family: 'Oswald';
  letter-spacing: 1px;
}

.media {
  border-right: 2px solid #E3E3E3;
  padding-right: 8px;
}

.author-social ul{
  margin-left: 5px;
  color: #A2B3BE;
  font-size: 12px;
}

#med {
  margin-left: 9px;
}



.foot-ph1::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
  z-index: 100;
}
.foot-ph2::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
  z-index: 100;
}

.foot-ph3::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
  z-index: 100;
}

.foot-ph4::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
  z-index: 100;
}


:hover::before{ /* This uncovers the wrong item for some reason?!?!?! */
  display: none;
}

.foot-body section:hover{
  color: white;
}
