/*
 * General typography and color pallet
 */
body{
  font-family: 'Open Sans', helvetica, sans-serif;
  width: 1300px;
}

h1, h2, h3{
  font-family: 'Oswald', sans-serif;
}

 /*
  * Main Layout
  */
.container{
  width: 1300px;
  margin: 0 auto;
}

header{
  position: relative; /* for absolute children */
  background: #FFF url('https://unsplash.it/1200/800') no-repeat;
  background-size: cover;
  height: 523px;
}

header::before{
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(28, 107, 174, 0.5);
}

/* Position these to bring them above overlay */
header nav, header h1, header h3 {
  position: relative;
}

nav {
  max-width: 1018px;
  margin: 0 auto;

  padding-right: 02.7504912%;
}

/* we need to clear the floats! */
nav::after {
  content: "";
  display: table;
  clear: both;
}

.branding {
  float: left;
  margin-top: 6px;
  margin-left: 14px;
}

.branding h2 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 0 2px;
  letter-spacing: .2px;
  position: relative;
  top: -1px;
}

.branding h2 > span {
  position: relative;
  left: -2px;
  letter-spacing: 0;
}

.branding h2 > span > span {
  letter-spacing: -0.7px;
}

.branding img,
.branding h2 {
  vertical-align: middle;
}

.header-links {
  float: right;
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
}

.header-links li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 11px;
  text-transform: uppercase;
  font-size: 15px;
}

.header-links li:first-child {
  position: relative;
  top: -1px;
}

.header-links li span {
  display: inline-block;
  transform: scaleY(1.5);
  font-weight: bold;
  letter-spacing: -0.5px;
}

.header-links li span,
.header-links li img {
  vertical-align: middle;
}

.header-links li img {
  margin-left: 4px;
  position: relative;
  top: 1px;
  right: 3px;
}

header h1,
header h4 {
  text-align: center;
}

header h1 {
  color: white;
  text-shadow: 0 2px 4px rgba(17, 52, 79, 1);
  text-transform: uppercase;
  margin: 150px 0 0 0;

  font-size: 104px;
  line-height: 104px;
  font-weight: 400;
  letter-spacing: -3px;
}

header h4 {
  font-weight: 400;
  margin: 0;
  font-size: 15px;
  letter-spacing: -1px;
}

*{
  box-sizing: border-box;
}


.body-left{
  display: inline-block;
  width: 860px;
  height: 1006px;
  position: relative;
  top: 0px;
  left: 0;
  padding-left: 163px;
  padding-right: 42px;

}

.body-right{
  display: inline-block;
  width: 440px;
  height: 1006px;
  float: right;
  padding-right: 161px;
  padding-top: 83px;
}

.body-body{
  width: 604px;
}

.body-left h1{
  display: inline-block;
  font-size: 46px;
  height: 126px;
  width: 570px;
  margin-top: 70px;
  padding-bottom: 0px;
}

.body-foot h1{
  text-align: center;
}

.author-deets{
  display: inline-block;
  margin-top: 0;
}

h2, h3{
  color: #006FAE;
  font-weight: lighter;
}
.interject h2{
  vertical-align: middle;
  height: 56px;
  border-left: 2px solid #E3E3E3;
  padding-top: 17px;
  padding-left: 17px;
}

.comment-share{
  display: inline-block;
  width: 500px;
  height: 35px;
}

.comment{
  color: white;
  background-color: #A2B3BE;
  display: inline-block;
  width: 158px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.read {
  color: white;
  display: inline-block;
  height: 30px;
  width: 128px;
  background-color: #A2B3BE;
}

.share {
  color: white;
  display: inline-block;
  height: 30px;
  width: 154px;
  background-color: #006FAE;
}

.author-tag img{
  border-radius: 42px;
  margin-left: 98px;
}

.author-tag-name {
  text-align: center;
}

.author-social ul{
  display: inline-block;
}

li{
  display: inline-block;
}

.ad-photo span{
  float: right; /* this COULD be changed? */
  position: relative;
  bottom: 0;
  right: 0;
}

.author-name img{
  border-radius: 11px;
}
